Repository OpenNMS-Cloud/lokahi, pull requests merged in 2022-06, with the labels that each got.

#95 github/ - developing workflow develop.yml
  .github/workflows/develop.yml
Labels: actions-test-develop

#98 Tag and Release Workflow - Add more automation and pre-testing processes
  .github/workflows/develop.yml
  .github/workflows/release.yml
Labels: actions-develop

#100 RELEASE v0.0.6-dev - testing new release workflow
  local-sample/run.sh
Labels: actions-release

#104 Jira/hs 139 tag release workflow
  .github/workflows/develop.yml
Labels: actions-develop

#105 jira/HS-139-tag-release-workflow - develop workflow test 6
  .github/workflows/develop.yml
Labels: actions-develop

#106 jira/HS-139-tag-release-workflow - develop workflow test 9
  .github/workflows/develop.yml
  .github/workflows/release.yml
Labels: actions-develop

#111 .github/ - testing revised ci-cd trigger
  .github/workflows/develop.yml
Labels: actions-develop

#112 .github/ - updated ci-cd workflow
  .github/workflows/develop.yml
Labels: actions-develop

#115 Working EntitySCopeProvider; added MonitoredServiceDao and SnmpInterfaceDao impls. Use in detector configs. Better home for scope classes.
  platform/assemblies/features/src/main/feature/features.xml
  platform/bom/pom.xml
  platform/common/common-config-vars/pom.xml
  platform/common/common-config-vars/src/main/java/org/opennms/configvars/ContextKey.java
  platform/common/common-config-vars/src/main/java/org/opennms/configvars/EmptyScope.java
  platform/common/common-config-vars/src/main/java/org/opennms/configvars/FallbackScope.java
  platform/common/common-config-vars/src/main/java/org/opennms/configvars/Interpolator.java
  platform/common/common-config-vars/src/main/java/org/opennms/configvars/MapScope.java
  platform/common/common-config-vars/src/main/java/org/opennms/configvars/ObjectScope.java
  platform/common/common-config-vars/src/main/java/org/opennms/configvars/Scope.java
  platform/common/pom.xml
  platform/core/config-vars/pom.xml
  platform/core/config-vars/src/main/java/org/opennms/horizon/core/configvars/EntityScopeContexts.java
  platform/core/config-vars/src/main/java/org/opennms/horizon/core/configvars/EntityScopeProvider.java
  platform/core/config-vars/src/main/java/org/opennms/horizon/core/configvars/impl/EntityScopeProviderImpl.java
  platform/core/config-vars/src/main/resources/OSGI-INF/blueprint/config-vars-blueprint.xml
  platform/core/pom.xml
  platform/db/dao-api/src/main/java/org/opennms/horizon/db/dao/api/IpInterfaceDao.java
  platform/db/dao-api/src/main/java/org/opennms/horizon/db/dao/api/MonitoredServiceDao.java
  platform/db/dao-api/src/main/java/org/opennms/horizon/db/dao/api/SnmpInterfaceDao.java
  platform/db/dao-impl/src/main/java/org/opennms/horizon/db/dao/impl/IpInterfaceDaoHibernate.java
  platform/db/dao-impl/src/main/java/org/opennms/horizon/db/dao/impl/MonitoredServiceDaoHibernate.java
  platform/db/dao-impl/src/main/java/org/opennms/horizon/db/dao/impl/SnmpInterfaceDaoHibernate.java
  platform/db/dao-impl/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  platform/pom.xml
  platform/provision/service/pom.xml
  platform/provision/service/src/main/java/org/opennms/netmgt/provision/detector/client/DetectorRequestBuilderImpl.java
  platform/provision/service/src/main/java/org/opennms/netmgt/provision/detector/client/LocationAwareDetectorClientRpcImpl.java
  platform/provision/service/src/main/resources/OSGI-INF/blueprint/horizon-provision-service.xml
Labels: actions-develop

#119 Add JDBC detector.
  platform/assemblies/features/pom.xml
  platform/assemblies/features/src/main/feature/features.xml
  platform/provision/jdbc/pom.xml
  platform/provision/jdbc/src/main/java/org/opennms/netmgt/provision/detector/jdbc/AbstractJdbcDetector.java
  platform/provision/jdbc/src/main/java/org/opennms/netmgt/provision/detector/jdbc/JdbcDetector.java
  platform/provision/jdbc/src/main/java/org/opennms/netmgt/provision/detector/jdbc/JdbcDetectorFactory.java
  platform/provision/jdbc/src/main/java/org/opennms/netmgt/provision/detector/jdbc/JdbcQueryDetector.java
  platform/provision/jdbc/src/main/java/org/opennms/netmgt/provision/detector/jdbc/JdbcQueryDetectorFactory.java
  platform/provision/jdbc/src/main/java/org/opennms/netmgt/provision/detector/jdbc/JdbcStoredProcedureDetector.java
  platform/provision/jdbc/src/main/java/org/opennms/netmgt/provision/detector/jdbc/JdbcStoredProcedureDetectorFactory.java
  platform/provision/jdbc/src/main/java/org/opennms/netmgt/provision/detector/jdbc/client/JDBCClient.java
  platform/provision/jdbc/src/main/java/org/opennms/netmgt/provision/detector/jdbc/request/JDBCRequest.java
  platform/provision/jdbc/src/main/java/org/opennms/netmgt/provision/detector/jdbc/response/JDBCResponse.java
  platform/provision/jdbc/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  platform/provision/pom.xml
Labels: actions-develop

#120 Add SSH detector.
  platform/assemblies/features/pom.xml
  platform/assemblies/features/src/main/feature/features.xml
  platform/core/lib/src/main/java/org/opennms/horizon/core/lib/parameters/ParameterMapUtil.java
  platform/core/lib/src/main/java/org/opennms/horizon/core/lib/poller/PollStatus.java
  platform/core/lib/src/main/java/org/opennms/horizon/core/lib/timeout/TimeoutTracker.java
  platform/provision/pom.xml
  platform/provision/ssh/pom.xml
  platform/provision/ssh/src/main/java/org/opennms/netmgt/provision/detector/ssh/SshDetector.java
  platform/provision/ssh/src/main/java/org/opennms/netmgt/provision/detector/ssh/SshDetectorFactory.java
  platform/provision/ssh/src/main/java/org/opennms/netmgt/provision/detector/ssh/client/SshClient.java
  platform/provision/ssh/src/main/java/org/opennms/netmgt/provision/detector/ssh/request/NullRequest.java
  platform/provision/ssh/src/main/java/org/opennms/netmgt/provision/detector/ssh/response/SshResponse.java
  platform/provision/ssh/src/main/java/org/opennms/netmgt/provision/detector/ssh/support/ssh/AbstractPoll.java
  platform/provision/ssh/src/main/java/org/opennms/netmgt/provision/detector/ssh/support/ssh/InsufficientParametersException.java
  platform/provision/ssh/src/main/java/org/opennms/netmgt/provision/detector/ssh/support/ssh/Poll.java
  platform/provision/ssh/src/main/java/org/opennms/netmgt/provision/detector/ssh/support/ssh/Ssh.java
  platform/provision/ssh/src/main/resources/OSGI-INF/blueprint/blueprint.xml
Labels: actions-develop

#121 Add the DHCP detector.
  platform/assemblies/features/pom.xml
  platform/assemblies/features/src/main/feature/features.xml
  platform/bom/pom.xml
  platform/dhcpd/pom.xml
  platform/dhcpd/src/main/java/org/opennms/horizon/dhcpd/Dhcpd.java
  platform/dhcpd/src/main/java/org/opennms/horizon/dhcpd/Transaction.java
  platform/dhcpd/src/main/java/org/opennms/horizon/dhcpd/impl/DhcpdImpl.java
  platform/dhcpd/src/main/java/org/opennms/horizon/dhcpd/impl/Listener.java
  platform/dhcpd/src/main/java/org/opennms/horizon/dhcpd/impl/Response.java
  platform/dhcpd/src/main/java/org/opennms/horizon/dhcpd/impl/TransactionImpl.java
  platform/pom.xml
  platform/provision/dhcp/pom.xml
  platform/provision/dhcp/src/main/java/org/opennms/netmgt/provision/detector/dhcp/DhcpDetector.java
  platform/provision/dhcp/src/main/java/org/opennms/netmgt/provision/detector/dhcp/DhcpDetectorFactory.java
  platform/provision/dhcp/src/main/java/org/opennms/netmgt/provision/detector/dhcp/client/DhcpClient.java
  platform/provision/dhcp/src/main/java/org/opennms/netmgt/provision/detector/dhcp/request/DhcpRequest.java
  platform/provision/dhcp/src/main/java/org/opennms/netmgt/provision/detector/dhcp/response/DhcpResponse.java
  platform/provision/pom.xml
Labels: actions-develop

#123 Add ActiveMQ detector
  platform/assemblies/features/pom.xml
  platform/assemblies/features/src/main/feature/features.xml
  platform/pom.xml
  platform/provision/activemq/pom.xml
  platform/provision/activemq/src/main/java/org/opennms/netmgt/provision/detector/jms/ActiveMQDetector.java
  platform/provision/activemq/src/main/java/org/opennms/netmgt/provision/detector/jms/ActiveMQDetectorFactory.java
  platform/provision/activemq/src/main/resources/OSGI-INF/blueprint/blueprint.xml
Labels: actions-develop

#124 Add DATAGRAM detector.
  platform/assemblies/features/pom.xml
  platform/assemblies/features/src/main/feature/features.xml
  platform/provision/datagram/pom.xml
  platform/provision/datagram/src/main/java/org/opennms/netmgt/provision/detector/datagram/DnsDetector.java
  platform/provision/datagram/src/main/java/org/opennms/netmgt/provision/detector/datagram/DnsDetectorFactory.java
  platform/provision/datagram/src/main/java/org/opennms/netmgt/provision/detector/datagram/NtpDetector.java
  platform/provision/datagram/src/main/java/org/opennms/netmgt/provision/detector/datagram/NtpDetectorFactory.java
  platform/provision/datagram/src/main/java/org/opennms/netmgt/provision/detector/datagram/client/DatagramClient.java
  platform/provision/datagram/src/main/java/org/opennms/netmgt/provision/detector/datagram/client/NtpClient.java
  platform/provision/datagram/src/main/java/org/opennms/netmgt/provision/detector/datagram/support/dns/DNSAddressRR.java
  platform/provision/datagram/src/main/java/org/opennms/netmgt/provision/detector/datagram/support/dns/DNSAddressRequest.java
  platform/provision/datagram/src/main/java/org/opennms/netmgt/provision/detector/datagram/support/dns/DNSInputStream.java
  platform/provision/datagram/src/main/java/org/opennms/netmgt/provision/detector/datagram/support/ntp/NtpMessage.java
  platform/provision/datagram/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  platform/provision/pom.xml
Labels: actions-develop

#129 Jira/hs 179 keycloak with custom image
  .github/actions/keycloak-ui/action.yml
  .github/workflows/develop.yml
  .github/workflows/feature-keycloak-ui.yml
  .github/workflows/release.yml
  keycloak-ui/README.md
  local-sample/run.sh
Labels: actions-develop

#135 HS-181: Add modal, table, navRail shell code
  ui/components.d.ts
  ui/src/App.vue
  ui/src/components/Appliances/DeviceTable.vue
  ui/src/components/Appliances/MinionsTable.vue
  ui/src/components/Common/PrimaryModal.vue
  ui/src/components/Layout/NavigationRail.vue
  ui/src/containers/Appliances.vue
  ui/src/router/index.ts
  ui/src/store/layoutStore.ts
  ui/src/types/appliances.ts
Labels: actions-develop
